@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&family=Fira+Code&family=Lobster&family=Roboto&family=Sofia&family=Trocchi&family=Ubuntu&display=swap');

.nav-title{
    font-family: 'Lobster';
    font-size: 2rem;
}

.nav-a:hover{
    border: 3px solid rgba(255, 255, 255, 0.66);
    border-radius: 5px;
}

#banner{
    height: 40rem;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    width: 100%;
    height: 100%;
    background-color: rgba(234, 38, 208, 0.471);
    color: rgb(247, 224, 235);
}

.header-content{
   border-radius: 8px;
}

.animation p{
    font-size: 1.5rem;
}

.animation h1{
    letter-spacing: -.06rem;
    margin: 0 0 16px;
}

.animation span{
    color: #fff;
    display: block;
    line-height: 1.1;
    position: relative;
}

.animation span:before{
    animation-name: var(--animation, a);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background: linear-gradient(
        90deg,
        var(--start-color),
        var(--end-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#fff;
    position: absolute;
    font-size: inherit;
    inset: 0;
    content: var(--content);
    opacity: 1;
}

@keyframes a{
    0%, 16.667%, 100%{
        opacity: 1;
    }
    33.333%, 83.333%{
        opacity: 0;
    }
}

@keyframes a2{
    0%, 100%{
        opacity: 0;
    }
    33.333%, 50%{
        opacity: 1;
    }
    16.667%, 66.667%{
        opacity: 0;
    }
}

@keyframes a3{
    0%, 50%, 100%{
        opacity: 0;
    }
    66.667%, 83.333%{
        opacity: 1;
    }
}